

// I M P O R T
@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation";


@import "_variables.scss";


html {
	margin:0;
}

body,html {
	height:100%;
}

li{list-style: none;}

body {
  margin: 0;
  color: #000;
  font-size: 1em;
}
input{
	opacity:0;
}

.drop-files-container{
	height:100%;
	width:100%;
	position:fixed;
}

.medias-list{
	li{
		top:0;
		left:0;
		width:20%;
		position: absolute;
		display:none;
		img, video{
			width: 100%;
		}
	}
}

.ligne{
	width: 1px;
	border-left: 2px dashed #000;
	height:100%;
	position:fixed;
	top:0;
	left:50%;
	z-index:0;
}

.js--templates{
	display:none;
}






